Repasos/RepasoFinal/Ejercicio4/ClienteSeduinfo/Connected Services/SeduinfoService/SeduInfoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtenerDatosAcademicos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDatosAcademicosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerDatosAcademicosResult" type="tns:ResponseOfEstudiante" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseOfEstudiante">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:Estudiante" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Estudiante">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellidos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Carrera" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Promedio" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObtenerDatosTutor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDatosTutorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerDatosTutorResult" type="tns:ResponseOfTutor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseOfTutor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:Tutor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Tutor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NombreEstudiante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TutorAsignado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CorreoTutor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelefonoTutor" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerDatosAcademicosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerDatosAcademicos" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosAcademicosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerDatosAcademicosResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosTutorSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerDatosTutor" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosTutorSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerDatosTutorResponse" />
  </wsdl:message>
  <wsdl:portType name="SeduInfoServiceSoap">
    <wsdl:operation name="ObtenerDatosAcademicos">
      <wsdl:input message="tns:ObtenerDatosAcademicosSoapIn" />
      <wsdl:output message="tns:ObtenerDatosAcademicosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosTutor">
      <wsdl:input message="tns:ObtenerDatosTutorSoapIn" />
      <wsdl:output message="tns:ObtenerDatosTutorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SeduInfoServiceSoap" type="tns:SeduInfoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerDatosAcademicos">
      <soap:operation soapAction="http://tempuri.org/ObtenerDatosAcademicos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosTutor">
      <soap:operation soapAction="http://tempuri.org/ObtenerDatosTutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SeduInfoServiceSoap12" type="tns:SeduInfoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerDatosAcademicos">
      <soap12:operation soapAction="http://tempuri.org/ObtenerDatosAcademicos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosTutor">
      <soap12:operation soapAction="http://tempuri.org/ObtenerDatosTutor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SeduInfoService">
    <wsdl:port name="SeduInfoServiceSoap" binding="tns:SeduInfoServiceSoap">
      <soap:address location="http://localhost:57688/SeduInfoService.asmx" />
    </wsdl:port>
    <wsdl:port name="SeduInfoServiceSoap12" binding="tns:SeduInfoServiceSoap12">
      <soap12:address location="http://localhost:57688/SeduInfoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>