Tareas en clase/VentasSOAP/ServerSEGIP/ClienteSEGIP/Connected Services/PersonasService/PersonasService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="BuscarPersonaCI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numeroDocumento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarPersonaCIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarPersonaCIResult" type="tns:ResponseDTOOfPersona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseDTOOfPersona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="statusCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:Persona" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Persona">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="primerApellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="segundoApellido" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BuscarPersonas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PrimerApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SegundoApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombres" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarPersonasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarPersonasResult" type="tns:ResponseDTOOfListOfPersona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseDTOOfListOfPersona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="statusCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfPersona" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPersona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Persona" nillable="true" type="tns:Persona" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BuscarPersonaCISoapIn">
    <wsdl:part name="parameters" element="tns:BuscarPersonaCI" />
  </wsdl:message>
  <wsdl:message name="BuscarPersonaCISoapOut">
    <wsdl:part name="parameters" element="tns:BuscarPersonaCIResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarPersonasSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarPersonas" />
  </wsdl:message>
  <wsdl:message name="BuscarPersonasSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarPersonasResponse" />
  </wsdl:message>
  <wsdl:portType name="PersonasServiceSoap">
    <wsdl:operation name="BuscarPersonaCI">
      <wsdl:input message="tns:BuscarPersonaCISoapIn" />
      <wsdl:output message="tns:BuscarPersonaCISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPersonas">
      <wsdl:input message="tns:BuscarPersonasSoapIn" />
      <wsdl:output message="tns:BuscarPersonasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonasServiceSoap" type="tns:PersonasServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarPersonaCI">
      <soap:operation soapAction="http://tempuri.org/BuscarPersonaCI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPersonas">
      <soap:operation soapAction="http://tempuri.org/BuscarPersonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PersonasServiceSoap12" type="tns:PersonasServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarPersonaCI">
      <soap12:operation soapAction="http://tempuri.org/BuscarPersonaCI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPersonas">
      <soap12:operation soapAction="http://tempuri.org/BuscarPersonas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonasService">
    <wsdl:port name="PersonasServiceSoap" binding="tns:PersonasServiceSoap">
      <soap:address location="http://localhost:54397/PersonasService.asmx" />
    </wsdl:port>
    <wsdl:port name="PersonasServiceSoap12" binding="tns:PersonasServiceSoap12">
      <soap12:address location="http://localhost:54397/PersonasService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>